@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
}


body {
    background: lightseagreen;
    font-family: 'Roboto', sans-serif;
}

#page {
    /* display: block for divs by default */
    display: block;
    background: white;
    margin: 0 auto; /* width defined, display in [block,table], position not in [fixed,absolute], can't use for vertical align */
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    width: 21cm;
    height: 29.7cm;
}

header {    /* header(block element) has one child, h1, which is block element too. Somehow overflow is controlling the margins on h1.
               Setting overflow to visible 
            */
    overflow: auto;
    text-align: center;
    background-color: rosybrown;
    height: 4em;
}

h1 {
    margin-top: 15px; /* padding and margin are applied to the outside of the block. If no strict height is mentioned it will push
                           elements below it down instead of lifting the content up*/
    color: white;
}

header + .container {
    margin-top: 15px;
}

.container {
    display: block;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.5em;
}

li + li{
    margin-top: 5px;
}

ul {
    padding-left: 1.5em;
}

@media print {
    body, #page {
        margin: 0;
        box-shadow: none;
    }
}

@page {
    size: A4;
}